<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="../addons/ewei_shopv2/static/js/dist/foxui/css/foxui.min.css?v=0.2">
        <link rel="stylesheet" type="text/css" href="../addons/ewei_shopv2/template/mobile/default/static/css/style.css?v=2.0.3">		
		<link rel="stylesheet" type="text/css" href="/haoge/css/swiper.min.css"/>
		<link rel="stylesheet" type="text/css" href="/haoge/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="/haoge/css/icon.css" />
		<link rel="stylesheet" type="text/css" href="/haoge/css/public.css" />
		<link rel="stylesheet" type="text/css" href="/haoge/css/layout.css" />		
		<title>豪格商城</title>
	</head>
	<body>
      <link rel="stylesheet" type="text/css" href="{php echo EWEI_SHOPV2_LOCAL}static/fonts/iconfont.css?v=2016070717">
		<script src="./resource/js/lib/jquery-1.11.1.min.js"></script>
       <script src='//res.wx.qq.com/open/js/jweixin-1.1.0.js'></script>
        <script src="{php echo EWEI_SHOPV2_LOCAL}static/js/require.js"></script>
        <script src="{php echo EWEI_SHOPV2_LOCAL}static/js/myconfig-app.js"></script>
        <script language="javascript">require(['core'],function(modal){modal.init({siteUrl: "{$_W['siteroot']}",baseUrl: "{php echo mobileUrl('ROUTES')}"})});</script>
		